
.schema *{
    border: 1px solid black;
}

.fa-bell{
    color:rgba(255, 140, 0, 1) ;
}

.side-nav{
    width: 150px;
    background-color: rgba(5, 30, 52, 1);
    background-image: url("img/sidebar-bg.png");
    color:white;
}

.main{
    background-color: rgba(248, 249, 251, 1);
   /* width: 90%;*/
    overflow: auto;
    height: calc(100vh - 56px);
}

.main-side{
    display: flex;  
}

.class_avatar{
width:40px;
height: auto;
}

.class_icon{
    padding: 5px;
    border: 2px gray solid;
    border-radius: 3px;
    color:gray
}


@media screen and (max-width: 950px ){
    ._crumb{
        display: none;
        }
}

@media screen and (min-width: 950px ){
    ._crumbplus{
        display: none;
        }
}


@media screen and (max-width: 768px ){
.mobile-logo{
  display: block;
  width: 45px;
  height: auto;
    }

 .desktop-logo{
    display: none;
 }   

 .fa-list,.fa-circle-question,.fa-ellipsis-vertical{
    display: none;
 }

 .col-2,.col-1{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .col-9{
    flex-grow: 1;
 }

 .main-nav{
    display: flex;
    flex-direction: column-reverse;
    gap:20px;

 }

.box3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.side-nav{
    width: 70px;
}

.top span,.bottom span{
  display: none;
}

}

@media screen and (min-width: 768px ){
    .dektop-logo{
        display: block;
     } 

     .mobile-logo{
        display: none;
     }
}




@media screen and (max-width: 576px){
 .class_disappear{
    display: none;
 }
}

