.main-side *{
    border: 1px solid black;
}

.side-nav{
    width: 150px;
    background-color: lightblue;
}

.main{
    background-color: lightpink;
    width: 100%;
    overflow: auto;
}

.main-side{
    display: flex;  
    height: calc(100vh - 56px); 

}

@media screen and (max-width: 768px ){
.side-nav{
    width: 70px;
}

}
