.main-side *{
    border: 1px solid black;
}

.side-nav{
    width: 150px;
    background-color: rgba(5, 30, 52, 1);
    background-image: url("img/sidebar-bg.png");
    color:white;
}

.main{
    background-color: lightpink;
    width: 100%;
    overflow: auto;
}

.main-side{
    display: flex;  
    height: calc(100vh - 56px); 

}

@media screen and (max-width: 768px ){
.mobile-logo{
  display: block;
  width: 45px;
  height: auto;
    }

 .desktop-logo{
    display: none;
 }   

.side-nav{
    width: 70px;
}

.top span,.bottom span{
  display: none;
}

}

@media screen and (min-width: 768px ){
    .dektop-logo{
        display: block;
     } 

     .mobile-logo{
        display: none;
     }
}
